n8n-workflows/social-media-automation.json
{
  "name": "Social Media Automation Master",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "content-type",
              "leftValue": "={{ $json.contentType }}",
              "rightValue": "post",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "content-filter",
      "name": "Content Type Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-generator",
        "options": {}
      },
      "id": "ai-content-generator",
      "name": "AI Content Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300],
      "webhookId": "ai-content-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "platform",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "facebook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "facebook-router",
      "name": "Facebook Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "platform",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "instagram-router",
      "name": "Instagram Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "platform",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "tiktok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tiktok-router",
      "name": "TikTok Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "additionalFields": {
          "message": "={{ $json.content }}",
          "link": "={{ $json.link }}",
          "scheduled_publish_time": "={{ $json.scheduledTime }}"
        },
        "options": {}
      },
      "id": "facebook-poster",
      "name": "Facebook Poster",
      "type": "n8n-nodes-base.facebook",
      "typeVersion": 1,
      "position": [1120, 200],
      "credentials": {
        "facebookApi": {
          "id": "facebook-credentials",
          "name": "Facebook API"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "create",
        "additionalFields": {
          "image_url": "={{ $json.imageUrl }}",
          "caption": "={{ $json.caption }}",
          "access_token": "={{ $json.accessToken }}"
        },
        "options": {}
      },
      "id": "instagram-poster",
      "name": "Instagram Poster",
      "type": "n8n-nodes-base.instagram",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "instagramBasicApi": {
          "id": "instagram-credentials",
          "name": "Instagram Basic API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_info",
              "value": "={{ $json.postInfo }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tiktok-poster",
      "name": "TikTok Poster",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "success-check",
      "name": "Success Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "track",
        "additionalFields": {
          "event": "social_media_post",
          "properties": "={{ $json.trackingData }}"
        },
        "options": {}
      },
      "id": "analytics-tracker",
      "name": "Analytics Tracker",
      "type": "n8n-nodes-base.mixpanel",
      "typeVersion": 1,
      "position": [1560, 300],
      "credentials": {
        "mixpanelApi": {
          "id": "mixpanel-credentials",
          "name": "Mixpanel API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "✅ Social Media Post erfolgreich veröffentlicht!\n\nPlatform: {{ $json.platform }}\nContent: {{ $json.contentPreview }}\nTime: {{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-notification",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Content Type Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Type Filter": {
      "main": [
        [
          {
            "node": "AI Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Generator": {
      "main": [
        [
          {
            "node": "Facebook Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram Router",
            "type": "main",
            "index": 0
          },
          {
            "node": "TikTok Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Router": {
      "main": [
        [
          {
            "node": "Facebook Poster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Router": {
      "main": [
        [
          {
            "node": "Instagram Poster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Router": {
      "main": [
        [
          {
            "node": "TikTok Poster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Poster": {
      "main": [
        [
          {
            "node": "Success Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Poster": {
      "main": [
        [
          {
            "node": "Success Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Poster": {
      "main": [
        [
          {
            "node": "Success Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Check": {
      "main": [
        [
          {
            "node": "Analytics Tracker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-28T10:00:00.000Z",
      "updatedAt": "2025-01-28T10:00:00.000Z",
      "id": "social-media",
      "name": "Social Media"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-28T10:00:00.000Z",
  "versionId": "1"
} 